/*---Common setting---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1920px;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .5;
    margin: 1px auto;
}

h2 {
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    }

h3 {
    font-size: 1rem;
    color: #4f4d4e;
    font-weight: 700px;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: center;
}

h5 {
    font-weight: lighter;
    color: #3f3f3f;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: #efefef;
    text-align: center;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 1rem 1.5rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.arial-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container {
    padding: 0 10%;
    margin: 0 auto;
}

/*---Header---*/

header {
    background-color: #414141;
}

.header {
    border-bottom: 10px solid transparent; 
    border-image: url(assets/Border-BG.jpg) 30 repeat;  
}

.__header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__header-image {
    padding: 2rem;
}

.__header-image img {
    max-width: 560px;
}

.__title-primary-decor {
    color: #b5b5b5;
    font-weight: lighter;
}

.__title-sub p {
    color: #b5b5b5;
    margin: 1rem 0;
}

.__button {
    background-color: #4788c8;
    color: white;
    margin: .5rem auto;
    padding: 1rem 2rem;
    border: none;
    border: 5px 1px 5px -1px rgba(0,0,0,.19);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    
}

.__button:hover {
    background-color: white;
    color: #4788c8;
}

.__slogan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4788c8;
    position: relative;
    padding: 0 2rem;
    border-bottom: 1px solid #4788c8;
}

.__slogan-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    border-top: 1px solid #4788c8;
    background-color: #4788c8;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.__slogan-text-decor {
    font-weight: bold;
    font-style: italic; 
}

.slogan-button {
    background-color:#e4e4ee; 
    color: #414141;
}

/*---Section 1: Features---*/

.__features {
    background-color:#efefef; 
}

.___features-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    
}

.___features-container > div {
    padding: 1rem;
    margin: 4rem 0 5rem;
}

.___features-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.___features-child > h3, 
.___features-child > p, 
.___features-child > button {
    padding: 1rem;
}

.circle-bg-for-icon {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    color: white;
}

.__features-icon {
    height: 3rem;
    width: 3rem;
    background-color: #414141;
    border-radius: 50%;
}

.features-text-decor {
    font-weight: normal;
}

.___features-child > p {
    text-align: center;
}

.___features-child button,
.___features-child-overlay button {
    background: #4788c8;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 3rem;
    font-size: 1rem;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: 400;
    border-width: 2px;
    border-style: outset;
}

.___features-child-overlay {
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(1.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid transparent;
    box-shadow: 5px 3px 10px #888888;
}

.___features-child-overlay > div {
    height: 3rem;
    width: 3rem;
    background-color: #4788c8;
    border-radius: 50%;
    margin: 2rem 0 1rem 0;
    transform: scale(1.3);
}

.___features-child-overlay > h3 {
    padding: 1rem 0;
}

.___features-child-overlay > p {
    text-align: center;
    padding: 1rem 2rem;
}

.___features-child-overlay::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}


.___features-child:hover .___features-child-overlay {
    opacity: 1;
}

/*---Section 2: Recent work---*/

.__recent-work {
    background-color:#efefef;
}

.__section-title {
    position: relative;
}

.__section-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    border-top: 10px solid transparent; 
    border-image: url(assets/Border-BG.jpg) 30 repeat; 
    z-index: 1;
}

.__section-title div {
    background-color: #efefef;
    position: absolute;
    top: -.5rem;
    left: 0;
    right:0;
    padding: 0 1rem;
    width: fit-content;
    margin: 0 auto;
    z-index: 2;
}


.__recent-work-container{ 
    display: flex;
    justify-content:center; 
    padding: 2rem 0 5rem;
}

.__work {
    margin: 3rem 1rem 5rem 0;
    position: relative;
    border-bottom: 1px solid transparent;
    background-color: white;
    box-shadow: 5px 3px 10px #888888;
}

.__work:last-child {
    margin-right: 0;
}

.__work::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border-top: 1px solid transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.__work img {
    max-width: 100%;
}

.__work p {
    padding: 1rem;
}

/*---Section 3: Testimonials & Development---*/

.__testi-dev {
    background-color:#efefef;
}

.__testi-dev-container {
    display: flex;
    justify-content: space-between;
}

.__testimonials {
    max-width: 67%;
    margin-right: 1rem;
}

.__development {
    max-width: 33%;
}

.__testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0 3rem;
}

.__testimonials-child {
    max-width: 49%;
    margin: 4rem 0;
    padding: 1rem;
    background-color: white;
    position: relative;
    border-bottom: 1px solid transparent;
    background-color: white;
    box-shadow: 4px 2px 10px #888888;
}

.__testimonials-child::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border-top: 1px solid transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
  display: block;
}

.pc-tab { 
    width: 100%;
    margin: 4rem auto 8rem auto;
}
    
.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.tab-title {
    padding: 0;
    font-size: 1.17rem;
}

li label {
    float: left;
    padding: 0 1.5rem 0 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #E4E4EE;
}
 
.pc-tab section {
    clear: both;
    padding: 1rem 1rem 5rem 1rem;
    position: relative;
    box-shadow: 1px 2px 5px #888888;
    background-color: white;
}

.tab1 p, .tab2 p {
    padding: 1rem 0;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label {
    background-color: white;
    color: #111;
    position: relative;
} 

#tab1:checked ~ nav .tab1 label::after,
#tab2:checked ~ nav .tab2 label::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $activeColor;
    left: 0;
    bottom: -1px;
}

.__development-button {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    cursor: pointer;
}

.__development-button:hover {
    color: ;
}

/*---Footer---*/

.__footer-content {
    background-color: #414141;
}

.footer-content-container {
    display: flex;
    justify-content: space-between;
    padding: 7% 0 2% 0;
}

.__footer-content-child {
    width: 24%;
    margin-right: 1%;  
}

.__footer-content-child p {
    padding: 1.5rem 1.6rem .5rem 0;
    color: #8d8d8d;
}

.__lastest-tweets-decor {
    color: white;
}

.latest-post > p {
    border-bottom: 1px solid #222;
    padding-left: 1rem;
}

.latest-post > p:last-child {
    border-bottom:none;
}

.__flickr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.__flickr-image {
    height: 26%;
    width: 23%;
    background-color:#222;
    margin: 0.1rem;
}


.__footer-copyright {
    background-color: #343434;
    padding: 2% 10% 3% 10%;
    display: flex;
    justify-content: space-between;
}

.__copyright-text p {
    font-family: Arial, Helvetica, sans-serif;
    color: #8d8d8d;
}

.__social-icons {
    flex: 0 0 25%;
    display: flex;
    justify-content: space-around;

}

.__social-icons div {
    width: 2rem;
    height: 2rem;
    color:  #8d8d8d;
    position: relative;
}


.tooltip-text {
    visibility: hidden;
    background-color: #4F4D4E;
    margin: .5rem;
    padding: .5rem;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    border-radius: 6px 6px 6px 0;
    border-bottom: 1px solid #4F4D4E;
    position: absolute;
    top:-150%;
    left: 5%;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 15px;
    width: 15px;
    border-top: 1px solid #4F4D4E;
    background-color: #4F4D4E;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.tooltip:hover .tooltip-text {
    visibility: visible;
  }

  /*--Responsive--*/


@media only screen and (max-width: 83.5em) /*1336px*/{
.container {
    padding: 0 6%;
}
}


@media only screen and (max-width: 75em) /*1200px*/{
.container {
    padding: 0 4%;
}
  
.__flickr-image {
    height: 22%;
    width: 23%;
}

}


@media only screen and (max-width: 67.75em) /*1164px*/ {
    .container {
        padding: 0 3%;
    }
      
    
    .__flickr-image {
        height: 20%;
        width: 23%;
    }


    .___features-container {
        flex-wrap: wrap;
    }

    .___features-container > div {
        max-width: 35%;
        margin: 2rem 0;
    }

}


@media only screen and (max-width: 65em) /*1040px*/ {
    .container {
        padding: 0 4%;
    }
      
    
    .__flickr-image {
        height: 20%;
        width: 23%;
    }
}


@media only screen and (max-width: 63.75em) /*1020px*/ {
    .container {
        padding: 0 5%;
    }
      
    .__header-hero {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .__flickr-image {
        height: 18%;
        width: 23%;
    }

    .___features-container > div {
        max-width: 45%;
        margin: 1rem 0;
    }

    .__recent-work-container 
    .__testimonials,
    .__development {
        padding-bottom: 1rem;
    }

    .__testi-dev-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .__testimonials,
    .__development {
        max-width: 80%;
        margin: 0;
    }

    .__footer-copyright {
        flex-direction: column;
    }

    .__social-icons {
        display: flex;
        justify-content: flex-start;
    }

    .tooltip {
        margin: .15rem;
    }
}

@media only screen and (max-width: 55.75em) /*892px*/ {
    .__recent-work-container {
        flex-direction: column;
    }

    .__work {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem;
        padding: 1.5rem;
    }

    .__work img {
        max-width: 60%;
    }
    
    .__work:last-child {
        margin-right: 2rem;
    }

   .footer-content-container {
       flex-wrap: wrap;
   }

    .__footer-content-child {
        width: 48%;
        margin: 1%;
    }

    .__flickr-image {
        height: 33%;
        width: 23%;
    }
}