* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1600px;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .5;
    margin: 1px auto;
}

h2 {
    font-size: 1.3rem;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    }

h3 {
    font-size: 1rem;
    color: #4f4d4e;
    font-weight: 700px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

h5 {
    font-weight: lighter;
    color: #3f3f3f;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background-color: #efefef;
    text-align: center;
    margin: 0 43%;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 1rem 1.5rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.arial-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.container {
    padding: 0 10%;
    margin: 0 auto;
}

header {
    background-color: #414141;
}

.header {
    border-bottom: 10px solid transparent; 
    border-image: url(assets/Border-BG.jpg) 30 repeat;  
}

.__header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__header-image {
    padding: 2rem;
}

.__header-image img {
    max-width: 560px;
}

.__title-primary-decor {
    color: #b5b5b5;
    font-weight: lighter;
}

.__title-sub p {
    color: #b5b5b5;
    margin: 1rem 0;
}

.__button {
    background-color: #4788c8;
    color: white;
    margin: .5rem auto;
    padding: 1rem 2rem;
    border: none;
    border: 5px 1px 5px -1px rgba(0,0,0,.19);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    
}

.__header-button:hover {
    background-color: white;
    color: #4788c8;
}

.__slogan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4788c8;
    position: relative;
    padding: 0 2rem;
}

.__slogan-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #4788c8;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.__slogan-text-decor {
    font-weight: bold;
    font-style: italic; 
}

.header-slogan-button {
    background-color:#e4e4ee; 
    color: #414141;
}

.__features {
    background-color:#efefef; 
}

.___features-container {
    display: flex;
    justify-content: space-evenly;
    
}

.___features-container > div {
    padding: 1rem;
    margin: 4rem 0;
}

.___features-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.___features-child:hover {
    background-color: white;
    box-shadow: 5px 3px 10px #888888;
}

.___features-child:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.___features-child > h3, .___features-child > p, .___features-child > button {
    padding: 1rem;
}

.circle-bg-for-icon {
    height: 3rem;
    width: 3rem;
    padding: 1rem;
    color: white;
}

.___features-child > div {
    height: 3rem;
    width: 3rem;
    background-color: #414141;
    border-radius: 50%;
}

.___features-child > div:hover {
    background-color: #4788c8;
}

.features-text-decor {
    font-weight: normal;
}

.___features-child > p {
    text-align: center;
}

.___features-child > button {
    background: #4788c8;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: 400;
    border-width: 2px;
    border-style: outset;
}

.__recent-work {
    background-color:#efefef;
}

.__section-title {
    border-top: 10px solid transparent; 
    border-image: url(assets/Border-BG.jpg) 30 repeat;  
}

.__section-title div {
    margin-top: -0.7rem;
}


.__recent-work-container{ 
    display: flex;
    justify-content:center; 
}

.__work {
    margin: 3rem 1rem 5rem 0;
    position: relative;
    border-bottom: 1px solid transparent;
    background-color: white;
    box-shadow: 5px 3px 10px #888888;
}

.__work:last-child {
    margin-right: 0;
}

.__work::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border-top: 1px solid transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.__work img {
    max-width: 100%;
}

.__work p {
    padding: 1rem;
}

.__testi-dev {
    background-color:#efefef;
}

.__testi-dev-container {
    display: flex;
    justify-content: space-between;
}

.__testimonials {
    width: 65%;
}

.__development {
    width: 35%;
}

.__testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0 3rem;
}

.__testimonials-child {
    max-width: 49%;
    margin: 4rem 0;
    padding: 1rem;
    background-color: white;
    position: relative;
    border-bottom: 1px solid transparent;
    background-color: white;
    box-shadow: 4px 2px 10px #888888;
}

.__testimonials-child::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border-top: 1px solid transparent;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}


.__footer-content {
    background-color: #414141;
    
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    padding: 7% 0 2% 0;
}

.__footer-content-child {
    max-width: 23%;
    margin-right: 1%;  
}

.__footer-content-child p {
    padding: 1.5rem 1.6rem .5rem 0;
    color: #8d8d8d;
}

.__lastest-tweets-decor {
    color: white;
}

.latest-post > p {
    border-bottom: 1px solid #222;
    padding-left: 1rem;
}

.latest-post >p:last-child {
    border-bottom:none;
}

.__footer-copyright {
    background-color: #343434;
    padding: 2% 10% 5% 10%;
}


